.sl-markdown-content table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid var(--sl-color-hairline-shade);
  overflow: hidden;
}

.sl-markdown-content th,
.sl-markdown-content td {
  padding: 0.75rem 1rem;
  white-space: nowrap;
  border-bottom: 1px solid var(--sl-color-hairline-shade);
  border-right: 1px solid var(--sl-color-hairline-shade);
}

.sl-markdown-content th {
  background-color: var(--sl-color-gray-6);
  font-weight: 600;
  text-align: left;
}

.sl-markdown-content tr:last-child td {
  border-bottom: none;
}

.sl-markdown-content th:last-child,
.sl-markdown-content td:last-child {
  border-right: none;
}

.sl-markdown-content tbody tr:hover td {
  background-color: var(--sl-color-gray-7);
}
